.statistic-page {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;

  .chart {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1em;
    background-color: rgba(255, 255, 255, 0.808);


    box-shadow: 0 0 13px 1px $clr4;
  }
}
